/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***************** 
    ELEMENT STYLES
******************/

body {
  color: #2d3748;
  border-color: #d1d6dd;
  border-width: 0.5em;
  border-style: solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 240px;
  height: 350px;
  background-color: ghostwhite;
}

body:hover {
  cursor: pointer;
}

h1 {
  color: ghostwhite;
  font-size: 3em;
  font-family: fantasy;
  text-shadow: 1px 1px 2px pink;
}

.success {
  color: #d1d6dd;
  margin-bottom: 4.5em;
}

input {
  text-align: center;
  height: 25px;
  width: auto;
  border-color: darkgray;
  border-width: 0 0 0.1em 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: ghostwhite;
}

input:focus {
  outline: none;
  border-color: darkgray;
  border-width: 0 0 0.2em 0;
}

/***************** 
    MARGIN STYLES
******************/

.standardMargin {
  margin: 15px 10px 15px 10px;
}

.noBottomMargin {
  margin: 15px 10px 0px 10px;
}

/***************** 
    COLUMN STYLES
******************/

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***************** 
    TITLE STYLES
******************/

.titleBorder {
  border-width: 0.3em;
  width: 100%;
  margin-bottom: 7px;
  background-color: #d1d6dd;
}

/***************** 
    EMOJI STYLES
******************/

.emojiSpan {
  font-size: large;
}

.emojiSpanClicked {
  font-weight: "bold";
  font-size: x-large;
}

.flexEmojiRow {
  display: flex;
  justify-content: center;
}

/***************** 
    BUTTON STYLES
******************/

.recordButton {
  color: darkgray;
  border-color: darkgray;
  border-width: thin;
  border-radius: 1.5em;
  border-style: solid;
  font-family: sans-serif;
  padding: 5px;
  font-weight: 800;
  text-transform: uppercase;
  width: 13em;
  transition: all 0.4s ease;
  background-color: ghostwhite;
  box-shadow: 0px 4px 8px #888888;
}

.recordButtonValid:hover {
  transform: scale(1.1);
}

/* .recordButtonInvalid {
  background-color: indianred;
} */

.recordButton:focus {
  outline: none;
}

/***************** 
    SUCCESS STYLES
******************/

.flexSuccessScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexSuccessScreen h1 {
  padding-top: 20px;
}
